/* tags */
body {
    font-family: Roboto, Arial, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #1DA1F2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* classes */
.main {
    display: flex;
    justify-content: center;
}

.container {
    margin: 175px 0 100px 0;
    width: 347px;
}

.title {
    color: #1A202C;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.form {
    margin-bottom: 38px;
}

.button {
    background: #1DA1F2;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 16px;
    width: 100%;
}

button:hover {
    opacity: 90%;
}

.paragraphSmall {
    margin-bottom: 11px;
}

.paragraphLarge {
    margin-bottom: 27px;
}

.label {
    display: block;
    margin-bottom: 11px;
    width: 100%;
}

.input {
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    color: #2D3748;
    font-size: 14px;
    /*
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    */
    padding: 17px 20px 17px 20px;
    width: 100%;

}